# Temperature Analysis

In [2]:
# Dependencies 
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [3]:
# Load CSV as dateframe
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

### Compare June and December data across all years

In [5]:
# Filter data for June and December
june = df[df['date'].dt.month_name() == 'June']
dec = df[df['date'].dt.month_name() == 'December']

In [6]:
# Identify the average temperature for June
june_avg = round(june['tobs'].mean(), 2)

# Identify the average temperature for December
dec_avg = round(dec['tobs'].mean(),2)

# print averages 
print(f'The average temperature in Hawaii for December is {dec_avg}°F')
print(f'The average temperature in Hawaii for June is {june_avg}°F')

The average temperature in Hawaii for June is 74.94°F

In [8]:
# Create collections of temperature data
june_df = june.groupby(['station']).mean()
june_df = june_df['tobs']
dec_df = dec.groupby(['station']).mean()
dec_df = dec_df['tobs']

In [19]:
# Run t-test
stats.ttest_rel(june_df, dec_df)

Ttest_relResult(statistic=6.95696617044294, pvalue=0.00011759380231523222)

### Analysis

A low p-value (< 0.05) indicates that you can reject the null hypothesis
meaning the difference between the samples is likely to be statistically significant.
(ie. there is a difference between average temperatures across June and December)

The paired t-test is used because there is a one-to-one relationship between the samples (ie. same stations).